/*** Body ***/
/* body {
    background-color: #0562ec;
    color: #ffffff;
} */

/*** Iconos redes sociales ***/
.icon-small-size {
    font-size: 1rem;
}

.icon-medium-size {
    font-size: 2rem;
}

.icon-big-size {
    font-size: 3rem;
}

.img-logo-size {
    width: 387px;
    height: 93px;
    object-fit: cover; /* Para mantener la proporción */
}